<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div id="header">
    <h1>MoMF <span class="subtitle">Museum of Modern Fruit</span></h1>
  </div>
  <div id="headerImage">
    <amp-img src="https://i.pinimg.com/originals/dd/3a/a6/dd3aa68bdd6305b03b4294f7905c68a8.jpg" height="543" width="396" layout="responsive"></amp-img>
  </div>
  <div id="content">
    <h2>Fruit and Flowers</h2>
    <h3>Henri Fantin-Latour <span class="date">1866</span></h3>
    <p class="paintMedium">Oil on canvas</p>
    <p>This is a lively and fresh-looking still life. The flowers give the impression of having been casually arranged; note the broken straggler. One wonders whether the fruit is at rest or whether some of it is meant to appear to have some momentum left in it, as it apparently tumbles out of the overturned basket.</p>
    <p>The brushwork of the artist well-describes the surface texture of flowers and fruit. The clarity and firmness of the forms differentiate this work from many of his other still lifes which are handled more loosely, more fuzzily and, perhaps, more to a stereotyped formula.</p>
    <p>
      <amp-youtube data-videoid="AwaeLxqeQk4" layout="responsive" width="480" height="270"></amp-youtube>
    </p>
  </div>
</body>
</html>